body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8E44AD;
  color: #fff;
  padding: 10px;
}

.header-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav li {
  margin-right: 20px;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
}

.header-nav .social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-nav .social-links li {
  margin-left: 10px;
}

.header-nav .social-links a {
  background-color: #3b5998;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  text-align: center;
  width: 30px;
}

.header-nav .social-links .youtube a {
  background-color: #ff0000;
}

.header-nav .social-links .twitch a {
  background-color: #6441a5;
}

.header-nav .social-links .instagram a {
  background-color: #c13584;
}

.social-links a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  color: #FFFFFF;
  background-color: #9C54AA;
}

.logo {
  color: #fff;
  font-size: 24px;
  margin: 0;
  padding: 10px;
  text-align: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  height: 80vh;
  justify-content: center;
  text-align: center;
}

.hero-image img {
max-width: 40%;
height: auto;
}


.hero-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.contact-form {
  background-color: #f2f2f2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.form-title {
  font-size: 36px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #808080;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

textarea {
  height: 150px;
}

input[type="submit"] {
  background-color: #8E44AD;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8E44AD;
  color: #fff;
  padding: 20px;
}

footer p {
  margin: 0;
}

footer .social-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .social-links li {
  margin-left: 50px;
}

footer .social-links a {
  background-color: #3b5998;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  text-align: center;
  width: 30px;
}

footer .social-links .youtube a {
  background-color: #ff0000;
}

footer .social-links .twitch a {
  background-color: #6441a5;
}

footer .social-links .instagram a {
  background-color: #c13584;
}
